* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none
}

#board {
  background-color: #232323;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.player {
  background-color: burlywood;
  position: absolute;
}

.obstacle {
  background-color: aquamarine;
  position: absolute;
}